h2 {
    margin-top: 45px;
}

hr {
    margin: 45px 0; 
}

.post-header {
    margin-bottom: 45px;
}

pre, code {
    color: inherit;
    background-color: inherit;
    font-family: Monaco,Consolas,"Lucida Console",monospace;
    font-size: 14px;
}


.tline {
    color: #0ab;
    background-color: #eee;
    font-family: cursive;
}

.tcmd {
    color: #ddd;
    background-color: #333;
    font-family:monospace
}

.tsubtitle {
    font-size: 1.2em;
    font-weight: 600;
}

.tcode {
    box-shadow: inset 0px 0px 10px #ddd;
}

.tstring {
    color: #c90;
}

.tvar {
    color: #0ab
}