---
layout: default
---
<article class="post">
    <header class="post-header">
        <h1 class="page-heading">
        {%- if page.title -%}
            {{ page.title }}
        {%- else if page.category -%}
            {%- for i in site.data.categorymap -%}
                {%- if i.category == page.category -%}
                    {{ i.name }}
                {%- endif -%}
            {%- endfor -%}
        {%- endif -%}
        </h1>
    </header>

    <div class="post-content">
        {{ content }}
    </div>
</article>
